@charset "UTF-8";

@media screen and (min-width: 768px) {

    body {
        background-image: linear-gradient(to right, rgb(126, 47, 126), rgb(28, 133, 89));
    }

    #login {
        height: 310px;
        width: 80vw;
    }

    #imagemdiv {
        position: absolute;
        left: 70%;
        height: 100%;
        width: 30%;
        
    }

    #formdiv {
        top: 7%;
        height: 100%;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    #login {
        width: 80%;
        height: 360px;
    }

    #imagemdiv {
        height: 100%;
        left: 50%;
        width: 50%;
    }

    #formdiv {
        height: 100%;
        width: 50%;
    }

    #formdiv h1 {

        font-size: 2em;

    }

    #formdiv p {

        font-size: 0.95em;
    }
}