@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(108, 29, 182);
}

body, html {
    width: 100vw;
    height: 100vh;
} 

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    position: absolute;
    height: 530px;
    width: 60%;
    border-radius: 20px;
    overflow: hidden;
}

#imagemdiv {
    background-image: url(../imagens/imagem.jpg);
    height: 240px;
    background-position: center bottom;
    display: block;
}

#formdiv {
    display: block;
    top: 50%;
    position: absolute;
}

#formdiv h1 {
    text-align: center;
    padding: 10px 0px;

}

#frase {
    font-size: 0.8em;
    padding: 0px 10px 10px 10px
}



